body
{
	background-color: gray;
}
main
{
	width: 80%;
	margin: auto;
}
header
{
	background-color: whitesmoke;
	padding: 8px;
	text-align: center;
	/*font: Shanti;
	font-size: 1.2em;*/
	border-radius: 20px;
	border: black 1px solid;
}
h2
{
	font-family: Tagoma;
	font-size: 3em;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 3px;
	word-spacing: 10px;
	text-shadow: 3px 3px 5px #333;
}
#sekcja1
{
	text-align: center;
	min-height: 500px;
	width: 100%;
	background-color: slategray;
	border-radius: 20px;
	border: black 1px solid;
	float: left;
	padding: 15px;
}
#przycisk
{
	color: white;
	background-color: blue;
	border-radius: 10px;
	width: 170px;
	height: 50px;
	font-size: 2em;
}
#przycisk:hover
{
	background-color: skyblue;
	cursor: pointer;
}
#formularz
{
	width: 300px;
	height: 50px;
	margin: 20px;
	border: none;
	border-radius: 10px;
	font: Shanti;
	text-align: center;
	font-size: 1.3em;
}
a
{
	color: inherit;
	text-decoration: none;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem 1.5rem;
  font: 1rem/1.5 "PT Sans", Arial, sans-serif;
  color: #5a5a5a;
}